@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
*,
nav ul li:last-child {
  margin: 0;
}
.banner,
header,
nav ul {
  display: flex;
}
.banner .leftBanner .heading,
.banner .leftBanner p {
  color: var(--secondaryColor);
}
.banner .leftBanner .heading,
.contact-us h2 {
  font-size: var(--secondaryFont);
}
input{
    background-color: #000;
}
.banner .leftBanner .cta,
.contact-us form input:last-child {
  padding: 13.5px 80px;
  font-weight: var(--secondaryWheight);
  background-color: var(--primaryColor);
}
.banner .leftBanner .cta,
.banner .leftBanner .heading,
.contact-us form input:last-child,
.contact-us h2 {
  font-weight: var(--secondaryWheight);
}
.contact-us form input,
table {
  width: 100%;
  color: var(--primaryColor);
}
.contact-us form input,
.contact-us h2,
table {
  color: var(--primaryColor);
}
.banner .leftBanner .cta,
.contact-us form input:last-child,
tfoot {
  background-color: var(--primaryColor);
}
* {
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
:root {
  --primaryFont: 28px;
  --secondaryFont: 64px;
  --primaryWheight: 400;
  --secondaryWheight: 700;
  --primaryColor: #fcaf02;
  --secondaryColor: #ffffff;
}
header {
  padding: 20px 50px;
  background-color: #fcaf02;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
}
header .logo-box {
  position: relative;
}
header .logo-box .logo-font {
  font: var(--secondaryWheight) 32px Montserrat, sans-serif;
}
.banner .leftBanner p,
.contact-us form input,
table {
  font-size: var(--primaryFont);
}
header .logo-box .logo-line {
  height: 2px;
  width: 50px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 75px;
}
nav ul {
  align-items: center;
}
nav ul li {
  margin-right: 50px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font: var(--primaryWheight) var(--primaryFont) Montserrat, sans-serif;
  color: #000;
}
main {
  padding: 88px 50px;
  background-color: #000;
}
.banner {
  justify-content: space-between;
}
.banner .leftBanner p {
  margin: 33px 0 50px;
  font-weight: var(--primaryWheight);
}
.banner .leftBanner .cta {
  border: none;
  border-radius: 35px;
  font-size: 32px;
}
.contact-us {
  margin: 132px 0 50px;
}
.contact-us form {
  margin-top: 64px;
}
.contact-us form input {
  margin-bottom: 50px;
  padding-left: 50px;
  border: 1px solid var(--primaryColor);
  border-radius: 41px;
  height: 82px;
  outline: 0;
}
table,
td,
th {
  border: 1px solid var(--primaryColor);
}
.contact-us form input::placeholder {
  font-size: var(--primaryFont);
  color: var(--primaryColor);
}
.contact-us form input:last-child {
  margin-bottom: 0;
  color: inherit;
  width: initial;
  border: none;
  font-size: 32px;
}
table {
  text-align: left;
  border-collapse: collapse;
}
td,
th {
  padding: 20px;
}
tfoot {
  color: #000;
}
tfoot td {
  border: 1px solid #000;
}
