@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --primaryFont: 28px;
  --secondaryFont: 64px;
  --primaryWheight: 400;
  --secondaryWheight: 700;
  --primaryColor: #fcaf02;
  --secondaryColor: #ffffff;
}

header {
  padding: 20px 50px;
  background-color: #fcaf02;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
}
header .logo-box {
  position: relative;
}
header .logo-box .logo-font {
  font: var(--secondaryWheight) 32px "Montserrat", sans-serif;
}
header .logo-box .logo-line {
  height: 2px;
  width: 50px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 75px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-right: 50px;
  list-style: none;
}
nav ul li:last-child {
  margin: 0;
}
nav ul li a {
  text-decoration: none;
  font: var(--primaryWheight) var(--primaryFont) "Montserrat", sans-serif;
  color: black;
}

main {
  padding: 88px 50px;
  background-color: black;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.banner .leftBanner .heading {
  font-size: var(--secondaryFont);
  font-weight: var(--secondaryWheight);
  color: var(--secondaryColor);
}
.banner .leftBanner p {
  margin: 33px 0 50px 0;
  font-size: var(--primaryFont);
  font-weight: var(--primaryWheight);
  color: var(--secondaryColor);
}
.banner .leftBanner .cta {
  padding: 13.5px 80px;
  background-color: var(--primaryColor);
  border: none;
  border-radius: 35px;
  font-size: 32px;
  font-weight: var(--secondaryWheight);
}
.contact-us {
  margin: 132px 0 50px 0;
}
.contact-us h2 {
  font-size: var(--secondaryFont);
  font-weight: var(--secondaryWheight);
  color: var(--primaryColor);
}
.contact-us form {
  margin-top: 64px;
}
.contact-us form input {
  margin-bottom: 50px;
  padding-left: 50px;
  width: 100%;
  border: 1px solid var(--primaryColor);
  border-radius: 41px;
  height: 82px;
  outline: none;
  font-size: var(--primaryFont);
  color: var(--primaryColor);
}
.contact-us form input::placeholder {
  font-size: var(--primaryFont);
  color: var(--primaryColor);
}
.contact-us form input:last-child {
  margin-bottom: 0;
  padding-left: 0;
  color: inherit;
  width: initial;
  padding: 13.5px 80px;
  background-color: var(--primaryColor);
  border: none;
  font-size: 32px;
  font-weight: var(--secondaryWheight);
}

table {
  width: 100%;
  font-size: var(--primaryFont);
  color: var(--primaryColor);
  text-align: left;
  border: 1px solid var(--primaryColor);
  border-collapse: collapse;
}
th,
td {
  padding: 20px;
  border: 1px solid var(--primaryColor);
}
tfoot {
  color: black;
  background-color: var(--primaryColor);
}
tfoot td {
  border: 1px solid black;
}
